*{
    margin:0;
    padding:0;
    border: 0;
}
.header{
    width: 100%;
    min-height: 80vh;
    background: url("../img/banner.png") center no-repeat;
    background-size: cover;
    color: white;
    float: left;
}
.top-menu{
    padding-top: 0.5rem;
}
.top-menu ul li{
    display:inline-block;
    text-transform:uppercase;
    float:right;
}
.top-menu ul li a{
    color: white;
    text-decoration:none;
    font-size:0.3rem;
    display:block;
    font-weight:700;
    padding:0.1rem 0.4rem;
}
.header-banner-info
{
    width: 100%;
    padding-top: 0.25rem;
    text-align: center;
    position: relative;
    float: left;
}
.header-banner-info h3{
    font-size:1rem;
    font-weight:300;
    margin-top: 0.1rem;
}
.header-banner-info h1{
    font-size: 0.8rem;
    font-weight:300;
}
.header-banner-info span{
    font-weight:700;
}
.header-banner-info p{
    font-weight:300;
    font-size:0.5rem;
}
.content-blog{
    width: 100%;
    /*height: 20rem;*/
}
.content-about{
    width: 100%;
    /*height: 20rem;*/
}
.content-contact{
    width: 100%;
    /*height: 8rem;*/
}
.content-info{
    padding-top:1rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    font-family:"微软雅黑","黑体","宋体";
    font-size: 0.5rem;
}
.content-info2{
    padding-top:0.5rem;
    height: 2.8rem;
    text-align: center;
    line-height: 2.8rem;
    font-family:"微软雅黑","黑体","宋体";
    font-size: 0.3rem;
}
/* Back top */
.go-top {
    background-color: #222;
    bottom: 0.6rem;
    right: 1.2rem;
    color: #ffffff;
    font-size: 0.5rem;
    display: none;
    position: fixed;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    transition: all 0.4s ease-in-out;
    cursor:pointer
}
.go-top:hover {
    text-decoration: none;
    background: #E0E0E0;
    color: #ffffff;
}
canvas{
    width: 2.5rem;
    height: 2rem;
}
.footer{
    text-align: center;
    padding:0.7rem 0;
    background: url("../img/banner.png") bottom no-repeat;
}
.copy-rights p{
    color:#AAAAAA;
    font-size:0.3rem;
    font-weight:300;
}
.copy-rights a{
    color:#fff;
    font-size:0.3rem;
    font-weight:300;
}
.copy-rights a:hover{
    color:#B0E0E6;
}
@media only screen and (min-width: 320px) and (max-width: 780px){
    .header{
        background: url("../img/banner1.png") center no-repeat;
        background-size: cover;
        min-height: 40vh;
    }
    .head-img{
        width: 2rem;
    }
    .header-banner-info h1{
        margin-top: 0.2rem;
    }
    .go-top {
        background-color: #FF7F50;
    }
    .content-about{
        /*height: 15rem;*/
    }
    .content-contact{
        /*height: 4.5rem;*/
    }
    .content-info{
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: 0.3rem;
    }
    .footer{
        padding:0.4rem 0;
        background: url("../img/banner1.png") bottom no-repeat;
    }
}